# physical hosts
127.0.0.1       localhost
10.219.106.35	yctb01.zpn.intel.com	yctb01
10.219.106.34	yctb02.zpn.intel.com	yctb02
10.219.106.36   ycte2e.zpn.intel.com    ycte2e
192.168.15.1    yctb01.yctb.zpn.intel.com yctb01
192.168.15.2    yctb02.yctb.zpn.intel.com yctb02

# AB VMs @ yctb01
192.168.15.8    debian8-master.yctb.zpn.intel.com  debian8-master
192.168.15.9    debian7.yctb.zpn.intel.com         debian7
192.168.15.10   fedora21.yctb.zpn.intel.com        fedora21
192.168.15.11   ubuntu1404.yctb.zpn.intel.com      ubuntu1404
192.168.15.12   opensuse132.yctb.zpn.intel.com     opensuse132
192.168.15.13   debian8.yctb.zpn.intel.com         debian8

# AB VMs @ yctb02
192.168.15.14   ubuntu1410.yctb.zpn.intel.com   ubuntu1410
192.168.15.15   ubuntu1504.yctb.zpn.intel.com   ubuntu1504
192.168.15.16   ubuntu1510.yctb.zpn.intel.com   ubuntu1510
192.168.15.17   fedora22.yctb.zpn.intel.com     fedora22  
192.168.15.18   centos6.yctb.zpn.intel.com      centos6   
192.168.15.19   centos7.yctb.zpn.intel.com      centos7   
