export http_proxy='http://proxy-chain.intel.com:911'
export https_proxy='https://proxy-chain.intel.com:911'
export ftp_proxy='http://proxy-chain.intel.com:911'
export socks_proxy='http://proxy-chain.intel.com:1080'
export no_proxy="localhost, 127.0.0.1, intel.com, 10.219.106.0/24"
